<!DOCTYPE html>
<html lang="en">
<head>
	<title>Prediction de la charge de l'assurance</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='{{ url_for('static', filename='style.css') }}' rel='stylesheet'>
</head>
<body>

	<div class="container-contact100">
		<div class="wrap-contact100">
		      
				<form class="contact100-form validate-form" action="{{url_for('predict')}}" method="post">
				<span class="contact100-form-title" style="font-size:32px">Exercice sur Prediction de la charge de l'Assurance</span>
				<br/>
				<br/>
				<div style='text-align:center;font-size:32px;color:#f00'>
				{{resultat_prediction}}
				</div>
				<span class="contact100-form-title" id="output" style="color: #ff0000;" >&nbsp;</span>
				
				<div class="wrap-input100 " >
					<span class="label-input100">Age de la personne</span>
					<input class="input100" type="number" id="age" name="age" placeholder="Votre age exemple: 20">
					<span class="focus-input100"></span>
				</div>

				
				<div class="wrap-input100 " >
					<span class="label-input100">Sexe</span>
					<select  class="input100" id="sexe" name="sexe" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
							<option value="">Selectionner votre sexe</option>
							<option value="0" >Femme</option>
							<option value="1">Homme</option>
						</select>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 " >
					<span class="label-input100">BMI</span>
					<input class="input100" type="text" id="bmi" name="bmi" placeholder="Votre BMI: 15.6">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 " >
					<span class="label-input100">Nombre d'enfants</span>
					<input class="input100" type="number" id="enfant" name="enfant" placeholder="Nombre d'enfants que vous avez">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 " >
					<span class="label-input100">Fumeur</span>
					<select  class="input100" id="fumeur" name="fumeur" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
							<option value="">Est-ce que vous fumez?</option>
							<option value="0" >Non</option>
							<option value="1">Oui</option>
						</select>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100" style="border-bottom: 0px;" >
					<span class="label-input100">Votre Region</span>
						<select  class="input100" id="region" name="region" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
							<option value="">Selectionner votre Region</option>
							<option value="0">Southwest</option>
							<option value="1">Southeast</option>
							<option value="2">Northwest</option>
							<option value="3">Northeast</option>
						</select>
					<span class="focus-input100"></span>
				</div>
				
				
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" id='submit' type="submit" value="Submit">Predire</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>




